img {
  height: auto;
  width: 37%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
  gap: 10px;
}

.flex > img {
  flex: 1;
}
